[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adheaping"]
	path = adheaping
	url = https://github.com/mitch-thornton/kde-ad-heaping
